/*====MOSTRAR MENU======= */
nav.show .menu {
  opacity: 1;
  visibility:visible;

  background: var(--body-color);
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: -2.6rem;

}

nav.show .menu {
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid  {
  gap: 6.4rem;
}


nav.show div.close {
  visibility: visible;
  opacity: 1;
  top: 2.4rem;

  transition: 0.5s;
}

/*======== TOGGLE MENU =============*/


.show_btn {
  display: none;
}
.ainda_nao {
  text-align: center;
  margin-top: 7rem;

  .btn2{
    width: 213.75px;
    padding-left: 6.4rem;
  }
}


@media (max-width: 375px) {

 .title {
    font: 700 1.675rem 'Poppins',sans-serif;
      color: var(--title-color);
      -webkit-font-smoothing: auto;
    }
  nav.show ul.grid {
    gap: 2rem;
  }

  .ainda_nao {
    text-align: center;
    margin-top: 6.4rem;
  }
}


