/*====MOSTRAR MENU======= */
nav.show .menu {
  opacity: 1;
  visibility:visible;

  background: var(--body-color);
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: -1.625rem;

 
  
  
}

nav.show .menu {
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid  {
  gap: 4rem;
}


nav.show div.close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;

  transition: 0.5s;
}

/*======== TOGGLE MENU =============*/
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}



.show_btn {
  display: none
}
.ainda_nao {
  text-align: center;
  margin-top: 7rem;

  .btn2{
    width: 213.75px;
    padding-left: 4rem;
  }
}