@keyframes short-press {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(.9);
  }
  
  100% {
    transform: scale(1);
  }
}

.btn-da-massa {
  display: flex;
  justify-content:center;
}


.submit-button {
  border-radius: 4px;
  background: #FFC40A;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;

  text-transform: uppercase;
  letter-spacing: 2px;
  height: 50px;
  width: 150px;
  line-height: 30px;
  overflow: hidden;
  font-size: 1.3rem;
  opacity: 0.9;
  
    &:hover{   
      transition: all 0.2s ease-in-out;
      background: #333;
      color: #fff;  
    }
    
  
  
}