#form .button {
  border: none;
  padding: 0 3.2rem;
  height: 4.8rem;
  margin-left: 1rem;
  margin-top: 2.2rem;
}

.contactForm {
  width: 100%;
  
  @media(min-width: 43.5em){
    position: relative;
    width: 700px;
  }


  .row {
    width: 100%;
    display: flex;
    
    
    @media(max-width: 43.5em) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .col50 {
      width: 100%;
      margin:1rem 1rem 1rem 0;
  }

    .col100 {
      width: 100%;
      margin:1rem 1rem 1rem 0;
      text-align: center;
  }

  input, textarea {
      width: 100%;
      padding: 1rem;
      border: none;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 0.25rem;
      color: var(--text-color);
      background: white;
      resize: none;
      box-shadow: 0px 1px 4px var(--base-color-second);
      text-align: left;
  }

    textarea {
        height: 100px;
    }
  }

}

.send{
  display: flex;
  justify-content: center;
}