/*------------Contatos---------*/
.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1b87c8;
  z-index: 1000;

  .contact_img {
     
    >img{
      width: 200px;
      
      @media(min-width: 900px){
        width: 300px;
       
      }
    }
  }
  .contactForm {
    width: 100%;
    
    @media(min-width: 43.5em){
      position: relative;
      width: 700px;
      margin-top: 20px;
    }


    .row {
      width: 100%;
      display: flex;
      
      
      @media(max-width: 43.5em) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }

      .col50 {
        width: 100%;
        margin: 10px;
    }

      .col100 {
        width: 100%;
        margin: 10px;
        text-align: center;
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        background: #FFF;
        color: #333;
        font-size: 1.6rem;
        resize: none;

        
    }

    textarea {
        height: 100px;

    }

    input[type="submit"] {
        background-color: #00bcd4;
        color: #FFF;
        padding: 10px 30px;
        display: inline-block;
        font-weight: 500;
        letter-spacing: 2px;
        cursor: pointer;
        max-width: 150px;

        &:hover{
          background: #333;
          transition-duration: 0.5s;
        }
      }
    }
  }
}