.fixed-menu {
    background-color: #333;
    -webkit-box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  

