.footer{
	background-color: #333;
  padding: 70px 0 0;

  .container{
    max-width: 1170px;
    margin:auto;
    
    
    .row{
      display: flex;
      flex-wrap: wrap;

       
	    
    }
	  
  }
	

  .copyRight{
    margin-top: 70px;
    background: #202020;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 40px; 
    justify-content:center;
    align-items:center;
    bottom: 0;

    >p{
      padding: 20px 10px;
      font-size: 1rem;
      
    }
  }

}

.footer-col{
        
  width: 25%;
  padding: 0 15px;

  h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color: #FFC40A;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }
  }

  
  ul{
    list-style: none;

    li {
      &:not(:last-child){
        margin-bottom: 10px;
      }

      a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;

        &:hover{
          color:#FFC40A;
          padding-left: 8px;
        }

      }

    }
  }


  .social-links{

    a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: #333;
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
     color: #FFF;
      transition: all 0.5s ease;

      &:hover{
        color: #24262b;
        background-color: #FFC40A;
      }

    }

  }

}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    text-align: center;

    h4::before {
     left: auto;
     width: 80px;
    }
  }
}
