.footer {
  padding-top: 20px;
  background: #333;
  //1b87b4
  position: relative;
  margin: 0 20rem;


  &__social {
    width: 100%;

    display: flex;
    justify-content: center;
    padding:2em 0; 

    a + a {
      margin-left: 2em;
      
    }
  }

  &__copyright {
    padding:2em 0; 

    width: 100%;
    text-align: center;
    color: #FFF;
  }

  &__allTogether {
    display: grid;
    place-items: center;
    grid-auto-flow: column;

    background: #333;
    
    .kennenFooter {
      aspect-ratio: 16 / 9; 
      
      >img{
        width: 150px;
        background: #FFF;
        border-radius: 5%;
      }
    }
    .syscareFooter {
      aspect-ratio: 16 / 9;
      
      >img{
        inline-size: 100%;
        object-fit: cover;
        width: 150px;
        background: #FFF;
        border-radius: 5%;
        margin:5px;
      }
    }
  }
}