/* ----------ABOUT---------------*/
.about {
  background:#FFF;


  .content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    text-align: justify;

    .textBx {
        min-width: 49%;
        width: 49%;

        > p {
        color: #333;
    }
  }

    .imgBx {
      margin-left: 40px;
  
      img {
          max-width: 100%;
      }
    }
  }
}