@import url('../../styles/variables.css');

.aaa {
  z-index: 100;
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  margin-top: 4.5rem;

  .progress-container {
    width: 100%;
    height: 3px;
    background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );

    .progress-bar {
      height: 3px;
      background: var(--base-color-second);
      width: 0%;
    }
  }
}


