.aaa {
  z-index: 100;
  width: 100%;
  background-color: #3333;
  position: fixed;
  top: 12%;

  .progress-container {
    width: 100%;
    height: 3px;
    background: #ccc;

    .progress-bar {
      height: 3px;
      background: #FFC40A;
      width: 0%;
    }
  }
}


